  title{
      margin:auto;

   }

  body{
    background-color: #FFFFFF;
  }

  form{
    margin:auto;
    background-color: #FFFFF;
  }


#EMRTable{
    table-layout: fixed;
}
 #EMRTable td, th {    

  border: 1px solid black;
  border-collapse: collapse;
  background-color: #FFFFFF;
      }

  #Etable {
  table-layout: fixed;
  border-collapse: collapse;    
  margin-left: 5%;

      }

      h2 {
        text-align:center;
        font-size : 120%;
      }

      th, td {
        padding: 15px;
      } 

      caption{
         font-size : 120%;
      }

     

  h1 {
    text-align: center;
  }


  
  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

